---
import RootLayout from "../../layouts/RootLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../../utils";

const allPost: CollectionEntry<"posts">[] = (await getCollection("posts")).sort(
    (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
        a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<RootLayout title="POST EXAMPLE">
    <h1>POST</h1>
    {
        allPost.map((post) => (
            <>
                <h1>{post.data.title}</h1>
                <p>{post.data.author}</p>
                <caption>{formatDate(post.data.pubDate)}</caption>
            </>
        ))
    }
</RootLayout>
